.charts-header {
    background-image: url(../img/what-title.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0px;
    height: 480px;
    padding: 13rem 0;
    background-color: #f6f6f6;
}

.charts-header .charts-header-title {
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: 400;
}


.text-percent::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-color: var(--main-color) !important;
    width: 80%;
    height: 100%;
}

.counter-item[percentage="65%"] .text-percent::after {
    width: 65%;
}

.text-percent {
    width: 176px;
    height: 176px;
    line-height: 176px;
    margin: 0 auto;
}

.text-percent {
    border: 5px solid #ebebeb;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.text-percent-2{
    border-color: #262626;
}

.text{
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
    color: #656566;
}

.percent {
    position: relative;
    display: inline-block;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 1.75px;
    width: 176px;
    height: 176px;
}

.percent::after {
    position: relative;
    top: -15px;
    content: '%';
    font-size: 15px;

}

.sub-title {
    font-size: 28px;
    line-height: 1.33em;
    letter-spacing: 1.5px;
    font-weight: 400;
}

.counter {
    background-image: url(../img/p2-background-img-1.jpg);
}

@media (max-width: 800px) {
    .charts-header {
        background-position: center 70px;
        height: 12rem;
    }

    .charts-header .charts-header-title {
        font-size: 2rem;
    }
}

@media (max-width: 680px) {
    .charts-header {
        background-position: center 70px;
        height: 15rem;
    }

    .charts-header .charts-header-title {
        font-size: 1.3rem;
    }
}