.contactUs {
    background-image: url(../img/p3-title-img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0px;
    height: 480px;
    padding: 13rem 0;
    background-color: #f6f6f6;
}

.contactUs .contactUs-title {
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: 400;
}

/* touch section */
.touch .title {
    font-size: 35px;
    line-height: 1.28em;
    letter-spacing: 1.75px;
    font-weight: 400;
}

.touch .details {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
    color: #656565;
    margin: 17px 0 0;
}

.touch .list {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
    color: #656565;
    height: auto;
    width: 100%;
    margin-bottom: 8px;
}

.list {
    list-style: none;
}

.list li::before {
    content: "\2022";
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.icon {
    font-size: 15px;
    color: #b3b3b3;
    margin: 0 20px 0 0;
}

.icon:hover {
    color: var(--main-color) !important;
}

.form-item .form-control {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    margin: 0 0 20px;
    padding: 19px 23px;
    font-size: 14px;
    line-height: 20px;
    color: #656565;
    background-color: transparent;
    border: 1px solid #989898;
    border-radius: 0;
}

.submit{
    padding: 19px 35px;
    margin-left: 0.8rem;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    width: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 0.15em;
    font-weight: 600;
}

.response-output{
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
    border: 2px solid #ffb900;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
    color: #656565;
    display: none;
}

.nameError,
.emailError,
.subjectError{
    display: none;
}

/* location section */
.loaction-iframe {
    width: 100%;
    height: 595px;
    opacity: 0.6;
}

.loaction-div {
    background: gray;
}

.location-icon-down {
    color: var(--main-color);
    position: absolute;
    top: 37.5%;
    right: 48.1%;
    font-size: 4.5rem;
}

.location-icon-down-2 {
    top: 45%;
    right: 23%;
}

.location-icon {
    color: rgb(65, 42, 13);
    position: absolute;
    top: 39%;
    right: 48.7%;
    font-size: 2rem;
}

.location-icon-2 {
    top: 47%;
    right: 23.5%;
}

@media (max-width: 992px) {
    .form-item{
        margin-top: 3rem;
    }
}

@media (max-width: 800px) {
    .contactUs {
        background-position: center 70px;
        height: 12rem;
    }

    .contactUs .contactUs-title {
        font-size: 2rem;
    }
}

@media (max-width: 680px) {
    .contactUs .contactUs-title {
        font-size: 1.3rem;
    }
}