.countdown-header {
    background-image: url(../img/what-title.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0px;
    height: 480px;
    padding: 13rem 0;
    background-color: #f6f6f6;
}

.countdown-header .countdown-header-title {
    font-size: 4rem;
    letter-spacing: 3px;
    font-weight: 400;
}

/* countdown section */
.container-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.countdown-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.countdown-img {
    background-image: url(../img/p2-background-img-1.jpg);
}

.countdown .countdown-span {
    display: inline-block !important;
    vertical-align: middle;
    font-size: 55px;
    letter-spacing: .05em;
    line-height: .9em;
    overflow: hidden;
    color: var(--main-color);
}

.countdown .countdown-title {
    font-size: 20px;
    font-weight: 400;
}

.countdown .countdown-p {
    font-size: 15px;
    font-weight: 50;
}

@media (max-width: 768px) {
    .container-grid {
        display: grid;
        grid-template-columns: auto auto;
    }

    .countdown-header .countdown-header-title {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .countdown-header {
        background-position: center 70px;
        height: 12rem;
    }

    .countdown-header .countdown-header-title {
        font-size: 2rem;
    }
}

@media (max-width: 680px) {
    .countdown-header .countdown-header-title {
        font-size: 1.3rem;
    }
}