.menu-header {
    background-image: url(../img/menu-title.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0px;
    height: 480px;
    padding: 13rem 0;
    background-color: #f6f6f6;
}

.menu-header .menu-header-title {
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: 400;
}

/* drink sections */
.drink .title,
.drink-2 .title {
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 400;
}

.drink .title-holder,
.drink-2 .title-holder {
    width: 15%;
    margin: auto;
    display: block;
}

.drink .title-data,
.drink-2 .title-data {
    width: 45%;
    margin: auto;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 1.55em;
    letter-spacing: .05em;
    font-style: normal;
    font-weight: 300;
}

.drink .item-image,
.drink-2 .item-image {
    float: left;
    width: 67px;
    position: relative;
}

.drink .drink-image,
.drink-2 .drink-image {
    width: 4.2rem;
    height: 4.2rem;
}

.drink .item-content,
.drink-2 .item-content {
    padding-left: 105px;
    min-height: 67px;
    padding-top: 10px;
    box-sizing: border-box;
}

.drink .item-title-holder,
.drink-2 .item-title-holder {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    padding-right: 5px;
}

.drink .item-line,
.drink-2 .item-line {
    height: 3px;
    border-bottom: 1px dashed #939393;
    display: table-cell;
    width: 98%;
    z-index: 1;
    position: relative;
    bottom: 9px;
}

.drink .item-price-holder,
.drink-2 .item-price-holder {
    display: table-cell;
    width: 1%;
    padding-left: 28px;
    white-space: nowrap;
}

.drink .item-description,
.drink-2 .item-description {
    line-height: 1.2em;
}

/* drink-2 section*/
.drink-2 {
    background-image: url(../img/menu-background-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 1200px) {

    .drink .title-data,
    .drink-2 .title-data {
        width: 80% !important;
    }

    .drink .title, .drink-2 .title{
        font-size: 2rem;
    }

    .drink .title-holder,
    .drink-2 .title-holder {
        width: 30%;
    }
}

@media (max-width: 768px) {

    .drink .title-data,
    .drink-2 .title-data {
        width: 100% !important;
    }

    .drink .item-image,
    .drink-2 .item-image,
    .drink .item-description,
    .drink-2 .item-description {
        display: none;
    }

    .drink .item-content,
    .drink-2 .item-content {
        padding: 0 2rem;
    }

    .drink .bottom-holder,
    .drink-2 .bottom-holder {
        margin: 0 !important;
    }
}

@media (max-width: 800px) {
    .menu-header {
        background-size: cover;
        background-position: center 70px;
        height: 12rem;
    }

    .menu-header .menu-header-title {
        font-size: 2rem;
    }
}

@media (max-width: 680px) {
    .menu-header .menu-header-title {
        font-size: 1.3rem;
    }
}